# python stuff
passlib[bcrypt]
pymongo
certifi
python-dotenv

# backend
fastapi
uvicorn
jinja2
python-multipart

# observability
logfire
logfire[fastapi]

# ai stuff
nest-asyncio
pydantic-ai
openai
groq
pydantic-ai-slim[tavily]
